<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <appSettings>
        <add key="webpages:Version" value="2.0.0.0" />
        <add key="webpages:Enabled" value="false" />
        <add key="PreserveLoginUrl" value="true" />
        <add key="ClientValidationEnabled" value="true" />
        <add key="UnobtrusiveJavaScriptEnabled" value="true" />
        
    </appSettings>
    <system.web>
        <httpRuntime targetFramework="4.5" maxRequestLength="50096" enableVersionHeader="false" />
        <compilation debug="true" targetFramework="4.5" />
        <sessionState mode="Off"></sessionState>
        <httpCookies httpOnlyCookies="true"/>
        <globalization uiCulture="tr-TR" culture="tr-TR" />

        <authentication mode="Forms">
            <forms loginUrl="~/admin/login" timeout="2880" name="__Auth" />
        </authentication>

        <customErrors mode="RemoteOnly" defaultRedirect="/s/sorry.html">
            <error statusCode="404" redirect="/error/notfound" />
        </customErrors>
        <pages>
            <namespaces>
                <add namespace="System.Web.Helpers" />
                <add namespace="System.Web.Mvc" />
                <add namespace="System.Web.Mvc.Ajax" />
                <add namespace="System.Web.Mvc.Html" />
                <add namespace="System.Web.Routing" />
                <add namespace="System.Web.WebPages" />
            </namespaces>
        </pages>
    </system.web>
    <system.webServer>
        <validation validateIntegratedModeConfiguration="false" />
    </system.webServer>
</configuration>